body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.about {
    font-size: 22px;
}
.column {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    height: 500px;
    padding: 50px;
    text-align: left;
}

#formacao {
    background-color: rgb(255, 255, 184);
}    

#skills {
    background-color: rgb(255, 232, 170);
}  